<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>ParkingLot</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>

    <body>

        <header>

        </header>

        <main><%- body %></main>

        <footer>
            
        </footer>

    </body>
</html>